h1{
<<<<<<< HEAD
<<<<<<< HEAD
    color:red;
}
body{
    background-color: aquamarine;
    }
=======
    color: blue;
=======
    color: rgb(41, 41, 58);
>>>>>>> reda
}
body{
    background-color:antiquewhite;
}
>>>>>>> Reda
